h1 {
  margin-left: 1%;
  background-color: greenyellow;
  text-align: left;
}

input[type=checkbox] {
  margin-left: 2%;
  margin-bottom: 10px;
}

input[type=checkbox]:checked + label {
  color:lightgrey;
  text-decoration: line-through;
}