input[type=checkbox]:checked + label {
    color:lightgrey;
    text-decoration: line-through;
}

#bottom {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}

#myFooter {
    padding-top: 100vh;
}

* {
    visibility: hidden;
}

.m-fadeIn {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s linear 0s, opacity 300ms;
  }