h1 {
  margin-left: 10px;
  background-color: greenyellow;
  text-align: left;
}

label {
  width: 90%;
  display: inline-block;
  text-align: left;
  vertical-align: top;
}

input[type=checkbox] {
  margin-left: 20px;
  margin-top: 5px;
}

div[id="buttons"] {
  margin-left: 100px;
  margin-top: 5px;
}

input[type=checkbox]:checked + label {
  color:lightgrey;
  text-decoration: line-through;
}